HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
ALLOWED_ORIGINS=http://localhost

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=weather_user
POSTGRES_PASSWORD=weather_password
POSTGRES_DB=weather_db
POSTGRES_TIMEOUT=5s
